@font-face {
    font-family: 'digital';
    src: url('digital-7.ttf');
}

html,
body {
    /* background-color: rgb(146, 196, 27);*/
    background-color: #117DBF;
    color: #000000;
    font-family: digital;
}

button {
    display: inline;
    padding: 10px;
    border: none;
    background: none;
    font-size: 200%;
}

.uppercase {
    text-transform: uppercase;
}

.break,
.session {
    display: inline-block;
    margin: 30px;
}

.clock {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    display: table;
}

.circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    font-size: 300%;
    text-align: center;
    z-index: 1;
}

.break-type {
    background: aqua;
    border: 10px solid aliceblue;
    display: none;
}

.session-type {
    background: yellow;
    border: 10px solid aquamarine;
}

.bottom-text {
    width: 100%;
    margin-top: 50%;
    text-align: center;
}