@font-face {
    font-family: 'digital';
    src: url('digital-7.ttf');
}

html,
body {
    /* background-color: rgb(146, 196, 27);*/
    background-color: #ffffff;
    color: #000000;
    font-family: digital;
}

button {
    display: inline;
    padding: 10px;
    border: none;
    background: none;
    font-size: 200%;
}

.uppercase {
    text-transform: uppercase;
}

.break,
.session {
    display: inline-block;
    margin: 5px;
}

#session,
#break {
    font-size: 30px;
    padding-top: 10%;
}

.clock {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    display: table;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    font-size: 300%;
    text-align: center;
    z-index: 1;
    border: 1px solid #000000;
}

#break-clock-frame {
    display: none;
}

#break-clock {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#session-clock {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bottom-text {
    width: 100%;
    margin-top: 50%;
    text-align: center;
}